header{
    background-color: chartreuse;
}
footer{
    background-color: springgreen;
}
.hero{
    background-color: aquamarine;
}
.seccionDos{
    background-color: darkgoldenrod;
}
.seccionSkill{
    background-color: gold;
}
.seccionPortfolio{
    background-color:violet;
}
.seccionContacto{
    background-color: lawngreen;
}
