@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
/*limpiar efectos que vienen por defecto*/
a{
    text-decoration: none;
    color:white;
    font-family: 'Mulish', sans-serif;
}
ul{
    list-style-type: none;
}
header{
    background-color: rgb(9, 10, 26);
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    align-items: center;
}
header h2{
    color: rgb(101, 124, 255);
}
footer{
    padding: 4.5rem 0;
    background-color: rgb(9, 10, 26);
}

.hero{
    
    background-color: rgb(9, 10, 26);
    display: flex;
    height: 140vh;
    
}
.imgHero{
    position: relative;
    width: 40rem;
    background: transparent;
    transition: 3s;
}
.imgHero:hover{
    background: var(--bg--color);
    opacity: .10;
}

 
.seccionDos{
    padding: 4.5rem 0;
    background-color: darkgoldenrod;
    display: flex;
    
   
}
.imgPaginaDos{
    width: 30rem;
    height: 30rem;
}


.divBotonesPagDos{
    display: flex;
}
.seccionSkill{
    padding: 4.5rem 0;
    background-color: gold;
}
.seccionPortfolio{
    padding: 4.5rem 0;
    background-color:violet;
}
.seccionContacto{
    padding: 4.5rem 0;
    background-color: lawngreen;
    flex-direction: column;
}


    

/*subcontenedores de los principales*/
.seccionDos .divContenedor{
    display: flex;
    flex-direction: column;
}
.seccionDos .divDatosdeContacto{
    display: flex;
    
}
.seccionDos .divTituloImg{
    flex-direction: column;
}
.seccionDos .divContenedorBio{
    display: flex;
}
.seccionContacto .divInput{
    display: flex;
    flex-direction: column;
}
.divFooter{
    display: flex;
}
.divQuick{
    display: flex;
}
.divQuickLink{
    display: flex;
    flex-direction: column;
}
.contenedorRedesSociales{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    
}
.contenedorRedesSociales a{
    transform: scale(1);
    margin-top: 1rem;
}
.contenedorRedesSociales a:hover{
    transform: scale(1);
    color: rgb(80, 80, 190);
}
.contenedorRedesSociales a{
    transition: background 0.3s;
                 transform: 0.2s;
}
.botonRedesSociales{
    height: 4rem;
    background-color: rgb(9, 10, 26);
    border: rgb(9, 10, 26);
    margin-left: 0.4rem ;
    margin-top: 1rem;
    border-left: 3px solid rgb(139, 156, 244);
    
}
.hola{
    justify-content: center;
    display: block;
    width: 20rem;
    margin-left: 18rem;
    font-size: 15rem;
    font-weight: 900;
    color: rgb(34, 34, 49);
}
.divNombre{
    display: flex;
    justify-content: center;
    text-align: center;
}
.soy{
    margin-right: 11rem;
    justify-content: center;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: white;
}

.montenegro{
    font-family: 'Mulish', sans-serif;
    color: white;
}

.rodrigo{
    margin-left: 1rem;
    margin-top: -0.5rem;
    font-family: 'Mulish', sans-serif;
    color: white;
}
.divCurriculum{
    margin-left: 12.6rem ;
}
.botonCurriculum{
    width: 6rem;
    background-color:  aquamarine;
    border: aquamarine;
    margin-top: 0.3rem;
    border-bottom: 4px solid rgb(80, 80, 190);
}
.profesor{
    margin-top: 1rem;
    color: white;
}
.diseñadorWeb{
    color: white;
}


/*estilos para etiquetas de los contenedores*/
header p{
    font-size: 1.5rem;
    letter-spacing: 3px;
    cursor: pointer;
    
}
header a{
    transform: scale(1);
    margin-left: 2rem;
    font-size: 0.8rem;
}
header a:hover{
    transform: scale(1);
    margin-left: 2rem;
    padding: 5px 10px 5px 10px;
    background-color: blue;
    color: aqua;
    border-radius: 10% ;
}
header a{
    transition: background 0.3s;
                 transform: 0.2s;
}

header .botonContratame{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color:rgb(80, 80, 190);
    color: white;
    border: rgb(80, 80, 190);
    border-radius: 10%;
}
header .botonContratame:hover{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color: white;
    color: rgb(80, 80, 190);
    border: 0.4vh solid rgb(80, 80, 190);
    border-radius: 10%;

}
header .botonContratame{
    transition: background 0.3s;
                 transform: 0.2s;
}

.divCurriculum .botonDescargarCv{
    transform: scale(1);
    margin-top: 1rem;
    font-size: 0.8rem;
    padding: 20px 20px 20px 40px;
    background-color:rgb(80, 80, 190);
    color: white;
    border: rgb(80, 80, 190);
    border-radius: 10%;
}
.divCurriculum .botonDescargarCv:hover{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 40px;
    background-color: white;
    color: rgb(80, 80, 190);
    border: 0.4vh solid rgb(80, 80, 190);
    border-radius: 10%;
}
.divCurriculum .botonDescargarCv{
    transition: background 0.3s;
                 transform: 0.2s;
}

.divCurriculum i{
    margin: 0;
    position: absolute;
    color: white;
    color: rgb(7, 228, 236);
    font-size: 1.2rem;
    left: 0.8rem;
    bottom: 1rem;
}
.sigueme{
    color: white;
    writing-mode: vertical-lr;
    text-orientation: mixed;
 }


 