@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
/*limpiar efectos que vienen por defecto*/
a{
    text-decoration: none;
    color:white;
    font-family: 'Mulish', sans-serif;
}
ul{
    list-style-type: none;
}
header{
    background-color: rgb(9, 10, 26);
    display: flex;
    justify-content: space-evenly;
    height: 5rem;
    align-items: center;
}
header h2{
    color: rgb(101, 124, 255);
}
footer{
    padding: 4.5rem 0;
    background-color: rgb(9, 10, 26);
}

.hero{
    
    background-color: rgb(9, 10, 26);
    display: flex;
    height: 140vh;
    
}
.imgHero{
    position: relative;
    width: 40rem;
    background: transparent;
    transition: 3s;
}
.imgHero:hover{
    background: var(--bg--color);
    opacity: .10;
}

 
.seccionDos{
    padding: 4.5rem 0;
    background-color: rgb(9, 10, 26);
    display: flex;
    
   
}
.imgPaginaDos{
    position: relative;
    left: 14rem;
    bottom: -1.5rem;
    width: 22rem;
    height: 26rem;
    border-radius: 10% ;
}


.divBotonesPagDos{
    display: flex;
    margin-left: 7rem;
}
.seccionSkill{
    padding: 4.5rem 0;
    background-color: rgb(9, 10, 26);
}
.seccionPortfolio{
    padding: 4.5rem 0;
    height: 157rem;
    background-color: rgb(9, 10, 26);
}
.seccionContacto{
    padding: 4.5rem 0;
    background-color: lawngreen;
    flex-direction: column;
}


    

/*subcontenedores de los principales*/
.seccionDos .divContenedor{
    display: flex;
    flex-direction: column;
    margin-left: -10rem;
}
.seccionDos .divDatosdeContacto{
    display: flex;
    
}
.seccionDos .divTituloImg{
    flex-direction: column;
}
.seccionDos .divContenedorBio{
    display: flex;
    margin-top: 8rem;
}
.seccionContacto .divInput{
    display: flex;
    flex-direction: column;
}
.divFooter{
    display: flex;
}
.divQuick{
    display: flex;
}
.divQuickLink{
    display: flex;
    flex-direction: column;
}
.contenedorRedesSociales{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    
}
.contenedorRedesSociales a{
    transform: scale(1);
    margin-top: 1rem;
}
.contenedorRedesSociales a:hover{
    transform: scale(1);
    color: rgb(80, 80, 190);
}
.contenedorRedesSociales a{
    transition: background 0.3s;
                 transform: 0.2s;
}
.botonRedesSociales{
    height: 4rem;
    background-color: rgb(9, 10, 26);
    border: rgb(9, 10, 26);
    margin-left: 0.4rem ;
    margin-top: 1rem;
    border-left: 3px solid rgb(139, 156, 244);
    
}
.hola{
    justify-content: center;
    display: block;
    width: 20rem;
    margin-left: 18rem;
    font-size: 15rem;
    font-weight: 900;
    color: rgb(34, 34, 49);
}
.divNombre{
    display: flex;
    justify-content: center;
    text-align: center;
}
.soy{
    margin-right: 11rem;
    justify-content: center;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: white;
}

.montenegro{
    font-family: 'Mulish', sans-serif;
    color: white;
}

.rodrigo{
    margin-left: 1rem;
    margin-top: -0.5rem;
    font-family: 'Mulish', sans-serif;
    color: white;
}
.divCurriculum{
    margin-left: 12.6rem ;
}
.botonCurriculum{
    width: 6rem;
    background-color:  rgb(139, 156, 244);
    border: aquamarine;
    margin-top: 0.3rem;
    border-bottom: 4px solid rgb(139, 156, 244);
}
.profesor{
    margin-top: 1rem;
    color: white;
}
.diseñadorWeb{
    color: white;
}


/*estilos para etiquetas de los contenedores*/
header p{
    font-size: 1.5rem;
    letter-spacing: 3px;
    cursor: pointer;
    
}
header a{
    transform: scale(1);
    margin-left: 2rem;
    font-size: 0.8rem;
}
header a:hover{
    transform: scale(1);
    margin-left: 2rem;
    padding: 5px 10px 5px 10px;
    background-color: rgb(23, 27, 60);
    color: rgb(96, 118, 248);
    border-radius: 10% ;
}
header a{
    transition: background 0.3s;
                 transform: 0.2s;
}

header .botonContratame{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color:rgb(100, 123, 225);
    color: white;
    border: rgb(100, 123, 225);
    border-radius: 10%;
}
header .botonContratame:hover{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color: rgb(23, 27, 60);
    color: white;
    border: 0.4vh solid rgb(96, 118, 248);
    border-radius: 10%;
}
header .botonContratame{
    transition: background 0.3s;
                 transform: 0.2s;
}

.divCurriculum .botonDescargarCv{
    transform: scale(1);
    margin-top: 1rem;
    font-size: 0.8rem;
    padding: 20px 20px 20px 40px;
    background-color:rgb(100, 123, 225);
    color: white;
    border: rgb(100, 123, 225);
    border-radius: 10%;
}
.divCurriculum .botonDescargarCv:hover{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 40px;
    background-color: rgb(23, 27, 60);
    color: white;
    border: 0.4vh solid rgb(96, 118, 248);
    border-radius: 10%;
    
    
    
}
.divCurriculum .botonDescargarCv{
    transition: background 0.3s;
                 transform: 0.2s;
}

.divCurriculum i{
    margin: 0;
    position: absolute;
    color: white;
    
    font-size: 1.2rem;
    left: 0.8rem;
    bottom: 1rem;
}
.sigueme{
    color: white;
    writing-mode: vertical-lr;
    text-orientation: mixed;
 }

.divSobreMi{
    display: flex;
}
.sobreMi{
        justify-content: center;
        display: flex;
        
        margin-left: 26rem;
        font-size: 4rem;
        font-weight: 900;
        color: rgb(34, 34, 49);
}
.mi{
   
    margin-left: 2rem;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(34, 34, 49);
}
.pEducacion{
    display: none;
}
.pExperiencia{
    display: none;
}
.DivBotonesbio{
    display: flex;
    
}

.DivBotonesbio a{
    transform: scale(1);
    margin-left: 2rem;
    font-size: 0.8rem;
}
.DivBotonesbio a:hover{
    transform: scale(1);
    margin-left: 2rem;
    padding: 5px 10px 5px 10px;
    background-color: rgb(23, 27, 60);
    color: rgb(96, 118, 248);
    border-radius: 10% ;
}
.DivBotonesBio a{
    transition: background 0.3s;
                 transform: 0.2s;
}
.pBio{
    position: relative;
    color: white;
    width: 400px;
    bottom: -2rem;
    left: 2rem;
}
.divDatosdeContacto{
    position: relative;
    color: rgb(77, 91, 203);
    width: 600px;
    bottom: -3rem;
    left: 2rem;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}

.divDatosdeContacto .divNacionalidad{
    position: relative;
    left: 2rem;
    letter-spacing: 0.1rem;

} 

.divBotonesPagDos{
    position: relative;
    left: -5rem;
    bottom: -6rem;
   
}

.divBotonesPagDos .BotonDosBotones {
    position: relative;
    left: 2rem;
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color:rgb(100, 123, 225);
    color: white;
    border: rgb(100, 123, 225);
    border-radius: 10%;

}
.BotonBotones{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color:rgb(100, 123, 225);
    color: white;
    border: rgb(100, 123, 225);
    border-radius: 10%;
}

.BotonDosBotones:hover{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color: rgb(23, 27, 60);
    color: white;
    border: 0.4vh solid rgb(96, 118, 248);
    border-radius: 10%;
}
.BotonDosBotones{
    transition: background 0.3s;
                 transform: 0.2s;
}
.BotonBotones:hover{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color: rgb(23, 27, 60);
    color: white;
    border: 0.4vh solid rgb(96, 118, 248);
    border-radius: 10%;
}
.BotonBotones{
    transition: background 0.3s;
                 transform: 0.2s;
}

/*SECCION 3*/

.tituloSeccionSkill{
    justify-content: center;
    margin-left: 28rem;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(34, 34, 49);
}

.divaSeccionSkill a{
    position: relative;
    left: 24.5rem;
    bottom: -2rem;
    justify-content: center;
    margin-left: 3.5rem;
    transform: scale(1);
    font-size: 1.5rem;
}
.divaSeccionSkill a:hover{
    transform: scale(1);
    margin-left: 2rem;
    padding: 5px 10px 5px 10px;
    background-color: rgb(23, 27, 60);
    color: rgb(96, 118, 248);
    border-radius: 10% ;
}
.divaSeccionSkill a{
    transition: background 0.3s;
                 transform: 0.2s;
}

.divAdobes{
    font-size: 1.5rem;
}


.divAdobePhoto{
    display: flex;
    color: white;
    font-size: 1.5rem;

}
.pAdobePhoto {
    position: relative;
    left: 10rem;
    bottom: -4.8rem;
}

.circulosAdobe{
    position: relative;
    left: 15.5rem;
    bottom: -4.5rem;
    color: rgb(100, 123, 255);
    letter-spacing: 0.8rem;
    font-size: 2rem;

}

.pDivAdobe{
    position: relative;
    bottom: -5.3rem;
    left: 8.9rem;
    font-size: 0.7rem;
}

.divContenedorAdobeXd{
    color: white;
    font-size: 1.5rem;
}

.pAdobeXD{
    position: relative;
    margin-left: 10rem;
    bottom: -6.8rem;
}
.circulosAdobeXd{
    position: relative;
    margin-left: 28rem;
    bottom: -4.5rem;
    color: rgb(100, 123, 255);
    letter-spacing: 0.8rem;
    font-size: 2rem;
}

.pDivAdobeXd{
    position: relative;
    bottom: -2.8rem;
    margin-left: 53rem;
    font-size: 0.7rem;
}

.divContenedorProto{
    color: white;
    font-size: 1.5rem;
}
.pproto{
    position: relative;
    margin-left: 10rem;
    bottom: -6.8rem;
}
.CirculosProto{
    position: relative;
    margin-left: 28rem;
    bottom: -4.5rem;
    color: rgb(100, 123, 255);
    letter-spacing: 0.8rem;
    font-size: 2rem;
}

.pDivProto{
    position: relative;
    bottom: -2.8rem;
    margin-left: 40.7rem;
    font-size: 0.7rem;
}

.divContenedorPlaning{
    color: white;
    font-size: 1.5rem;
}

.pplaning{
    position: relative;
    margin-left: 10rem;
    bottom: -6.8rem;
}

.CirculosPlaning{
    position: relative;
    margin-left: 28rem;
    bottom: -4.5rem;
    color: rgb(100, 123, 255);
    letter-spacing: 0.8rem;
    font-size: 2rem;
}
.pDivPlaning{
    position: relative;
    bottom: -2.8rem;
    margin-left: 57.2rem;
    font-size: 0.7rem;
}

/*SECCION 4*/
.tituloSeccionPortfolio{
    justify-content: center;
    margin-left: 28rem;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(34, 34, 49);
}

.divaSeccionPortfolio a{
    position: relative;
    left: 24.5rem;
    bottom: -2rem;
    justify-content: center;
    margin-left: 2.4rem;
    transform: scale(1);
    font-size: 1.5rem;
}

.divaSeccionPortfolio a:hover{
    transform: scale(1);
    margin-left: 2rem;
    padding: 5px 10px 5px 10px;
    background-color: rgb(23, 27, 60);
    color: rgb(96, 118, 248);
    border-radius: 10% ;
}
.divaSeccionPortfolio a{
    transition: background 0.3s;
                 transform: 0.2s;
}
.tituloSeccionPortfolio{
    justify-content: center;
    margin-left: 28rem;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(34, 34, 49);
}

.divaSeccionPortfolio a{
    position: relative;
    left: 24.5rem;
    bottom: -2rem;
    justify-content: center;
    margin-left: 2.4rem;
    transform: scale(1);
    font-size: 1.5rem;
}

.divaSeccionPortfolio a:hover{
    transform: scale(1);
    margin-left: 2rem;
    padding: 5px 10px 5px 10px;
    background-color: rgb(23, 27, 60);
    color: rgb(96, 118, 248);
    border-radius: 10% ;
}
.divaSeccionPortfolio a{
    transition: background 0.3s;
                 transform: 0.2s;
}


.ImgDos{
    position: relative;
    width: 73rem;
    height: 40rem;
    background: transparent;
    transition: 3s;
    bottom: -62rem;
    left: 5.5rem;
    border-radius: 4vh;
}

.ImgTres{
    position: relative;
    width: 45rem;
    height: 30rem;
    background: transparent;
    transition: 3s;
    bottom: 52.7rem;
    left: 5.5rem;
    border-radius: 4vh;
}

.ImgCuatro{
    position: relative;
    width: 35rem;
    height: 20rem;
    background: transparent;
    transition: 3s;
    bottom: 105rem;
    border-radius: 4vh;
    left: 2rem;
}

.ImgCinco{
    position: relative;
    width: 35rem;
    height: 20rem;
    background: transparent;
    transition: 3s;
    bottom: 105rem;
    left: -2rem;
    border-radius: 4vh;
}

.ImgSeis{
    position: relative;
    width: 25rem;
    height: 30rem;
    background: transparent;
    transition: 3s;
    bottom: 103rem;
    left: 53.7rem;
    border-radius: 4vh;
}

.divImgArriba{
    display: flex;
    justify-content:space-around;
}

.botonPortfolio{
    position: relative;
    bottom: 12rem;
    left: 40rem;
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color:rgb(100, 123, 225);
    color: white;
    border: rgb(100, 123, 225);
    border-radius: 4vh;
}
.botonPortfolio:hover{
    transform: scale(1);
    font-size: 0.8rem;
    padding: 20px 20px 20px 20px;
    background-color: rgb(23, 27, 60);
    color: white;
    border: 0.4vh solid rgb(96, 118, 248);
    border-radius: 4vh;
}
.botonPortfolio{
    transition: background 0.3s;
                 transform: 0.2s;
}
.ImgUno{
    position: relative;
    width: 73rem;
    height: 40rem;
    background: transparent;
    transition: 3s;
    bottom: -60rem;
    left: 5.5rem; 
    border-radius: 4vh;

}
.ImgUno{
    transition: .5s ease;
}
.ImgUno:hover{
    transform: scale(1.1) ;
}



.ImgDos{
    transition: .5s ease;
}
.ImgDos:hover{
    transform: scale(1.1) ;
}

.ImgTres{
    transition: .5s ease;
}
.ImgTres:hover{
    transform: scale(1.1) ;
}
.ImgCuatro{
    transition: .5s ease;
}
.ImgCuatro:hover{
    transform: scale(1.1) ;
}
.ImgCinco{
    transition: .5s ease;
}
.ImgCinco:hover{
    transform: scale(1.1) ;
}
.ImgSeis{
    transition: .5s ease;
}
.ImgSeis:hover{
    transform: scale(1.1) ;
}

